body{
font-family: "Bitstream Vera Serif", serif;
background-color: white;
color: black;
font-size: 12pt;
line-height: 1.5em;
}

.netscape4, #sidebar, #navigation-bar, #fsflinks, #gnulogo, #dbdlogo, #links, #translations, #searcher{display: none !important;}


a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a[href]:after {  /* Prints the links' URIs after the links' texts. Doesn't work in MSIE */
  content: "<" attr(href) ">";
}

